# Q&A ACTIVITY WEEK 08

# Explain the dataset

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [24]:
dataset=pd.read_csv("E:\data science\week8\Advertising.csv")
dataset=dataset.drop(["Unnamed: 0"],axis=1)
df=pd.DataFrame(dataset)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

# Explain  the dataset

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [26]:
dataset.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [27]:
dataset.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

# Check the summary statistics and discuss the max,min,avg,median and percentage

In [28]:
dataset.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

 when the max, min, avg, median, and percentiles are taken for discussion,the amount spend for TV was more compared to others

# The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper). Comment on your findings.

# ANOVA Test

H0:Same amount was spent for the three advertisements

H1:Not the same amount was spent for thr three advertisement

In [29]:
fvalue,pvalue=stats.f_oneway(dataset['TV'],dataset['Radio'],dataset['Newspaper'])
print(fvalue,pvalue)

358.8514595342597 4.552931539744962e-103

In [30]:
alpha=0.05
if pvalue>alpha:
    print("Accept the null hypothesis")
elif pvalue<alpha:
    print("Reject the null hypothesis")

Reject the null hypothesis

p-value is less than 0.05 So we reject the null hypothesis and accept the alternative hypothesis.The amount spend for the three advertisement differs